*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F5EDD6;
  color: #1A0E05;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
